body {
    margin: 0px;
}
.container {
    background-image: url(../img/icon/BackGround.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    align-items: center;
    padding: 10px 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
#CreateArticle {
    height: 30px;
    width: 80px;
    background-color: antiquewhite;
    border: none;
    border-radius: 30px;
    transition: all 0.2s linear;
}
#CreateArticle:hover {
    cursor: pointer;
    background-color: aquamarine;
}
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.article {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
    box-sizing: border-box;
}
.name {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.numberCall {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.Email {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.icon {
    margin-right: 10px;
}
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-main {
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: fit-content;
    background-color: #fff;
}
.popup-main button {
    margin-top: 10px;
}
#Edit {
    cursor: pointer;
}
#Delete {
    cursor: pointer;
}
.popup-container-Edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-main-Edit {
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: fit-content;
    background-color: #fff;
}
.popup-main-Edit button {
    margin-top: 10px;
}
.active {
    display: flex;
}